/* body {

} */

/* Used to Hide Container when not needed */
.hide {
  display: none;
}

/* NavBar Stying */
.navbar {
  text-align: center;
  width: 100%;
  background-color: gray;
}

/* Second Container Styling */
#questions-container {
  width: 18rem;
  margin: 100px auto;
}
#answers-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
}

.answerButtons {
  margin-top: 5px;
  max-width: 250px;
  padding: 10px;
}

/* Last Container Styling */
#scoresList {
  padding-bottom: 2px;
}

.container {
  background-color: #EBEBEB;
  border: 1px solid black;
  padding: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 100px;
  text-align: center;
}


.heading {
  margin: 10px;
  border: 2px solid black;
}

/* .scoreContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
} */