body {
  background: url("./images/musicQuiz.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

#navbarNav p {
  margin-right: 3px;
}

header {
  background-color: #282828;
  color: white;
}

/* Global Container Styling */
.container {
  background-color: #ebebeb;
  box-shadow: 2px 2px 7px black;
  padding: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 20%;
}

/* Second Container Styling */
.heading {
  margin: 10px;
}

#questions-container {
  width: 18rem;
  margin: 100px auto;
}
#answers-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.answerButtons {
  margin-top: 5px;
  max-width: 250px;
  padding: 10px;
}

/* Finished Container */
#submit-button {
  margin: 5px;
}

/* Last Container Styling */
#scoresList {
  padding: 2px;
}

.listRow {
background-color: #282828;
box-shadow: 2px 2px 5px black;
border: 1px solid black;
margin: 2px;
color: white;
}

/* Score Container */
#scoreList {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
