@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  /* background: url("./images/musicQuiz.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif;
}

.hide {
  display: none;
}

header {
 color:  #2AB7CA;
 padding-top: 2rem;
 padding-bottom: 2rem;
}

.navbar h1 {
  margin-left: auto;
  margin-right: auto;
}

/* Global Container Styling */
.container {
  background-color: #ebebeb;
  box-shadow: 2px 2px 7px black;
  padding: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 40%;
  border-radius: 2rem;
}

.start-container button {
  background-color: #2AB7CA;
  border: 0.10rem solid black;
  width: 5rem !important;
}


/* Second Container Styling */
.heading {
  margin: 10px;
}

#questions-container {
  width: 18rem;
  margin: 100px auto;
  position: relative;
}
.time-container h4 {
  color: #ebebeb;
  background-color: #2AB7CA;
  max-width: 15rem;
  max-height: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  padding: 0.40rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem black;
}

.answerButtons {
  margin: 1rem;
  max-width: 15rem;
  min-width: 15rem;
  max-height: 4rem;
  min-height: 4rem;
  padding: 0.40rem;
  background-color: #2AB7CA;
  border: 0.10rem solid black;
  width: 5rem !important;
}

/* Finished Container */
#submit-button {
  margin: 5px;
}

/* Last Container Styling */
#scoresList {
  padding: 2px;
}

.listRow {
background-color: #282828;
box-shadow: 2px 2px 5px black;
border: 1px solid black;
margin: 2px;
color: white;
}

/* Score Container */
#scoreList {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
